<!-- add_mo.html -->
{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Object</title>
</head>
<body>
    <h1>Добавить проект</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="id_address">Адрес:</label>
        <input type="text" name="address" id="id_address" required>
        <br><br>
        <label for="id_start_date">Начало проекта:</label>
        <input type="date" name="start_date" id="id_start_date" required>
        <br><br>
        <label for="id_end_date">Окончание проекта:</label>
        <input type="date" name="end_date" id="id_end_date" required>
        <br><br>
        <label for="id_customer_name">Заказчик:</label>
        <input type="text" name="customer_name" id="id_customer_name" required>
        <br><br>
        <label for="id_executor_name">Исполнитель:</label>
        <input type="text" name="executor_name" id="id_executor_name" required>
        <br><br>
        <label for="id_documents">Документы:</label>
        <input type="file" name="documents" id="id_documents" required>
        <br><br>
        <label for="id_name">Название:</label>
        <input type="text" name="name" id="id_name">
        <br><br>
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>

{% endblock %}
