{% extends 'base.html' %}

{% block title %}add_new{% endblock %}

{% block content %}
{% load static %}

<!-- шаблон для страницы добавления нового объекта -->

<head>
    <title>Добавить новый объект</title>


    <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
    <script src="/static/admin/js/theme.js" defer=""></script>


    <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
    <script src="/static/admin/js/nav_sidebar.js" defer=""></script>

    <link rel="stylesheet" href="/static/admin/css/forms.css">


    <script src="/admin/jsi18n/"></script>
    <script src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script src="/static/admin/js/calendar.js"></script>
    <script src="/static/admin/js/jquery.init.js"></script>
    <script src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script src="/static/admin/js/core.js"></script>
    <script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script src="/static/admin/js/actions.js"></script>
    <script src="/static/admin/js/urlify.js"></script>
    <script src="/static/admin/js/prepopulate.js"></script>
    <script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/admin/css/responsive.css">


    <meta name="robots" content="NONE,NOARCHIVE">
</head>
<body>

    <div id="content" class="colM">

        <h1>Add my object</h1>

        <div id="content-main">



            <form enctype="multipart/form-data" method="post" id="myobject_form" novalidate="">
                <input type="hidden" name="csrfmiddlewaretoken" value="2KaOKhQ26tyIoKcTIGeptEUiimVLpJf7damTCHBYCu6y3ihEYkShGkiU4TCbJfLf">
                <div>

                    <fieldset class="module aligned ">

                        <div class="form-row field-address">

                            <div>

                                <div class="flex-container">

                                    <label class="required" for="id_address">Address:</label>

                                    <input type="text" name="address" class="vTextField" maxlength="255" required="" id="id_address">

                                </div>

                            </div>

                        </div>

                        <div class="form-row field-start_date">


                            <div>

                                <div class="flex-container">

                                    <label class="required" for="id_start_date">Start date:</label>

                                    <p class="date">
                                        <input type="text" name="start_date" class="vDateField" size="10" required="" id="id_start_date"><span class="datetimeshortcuts"></span>
                                    </p>

                                </div>

                            </div>

                        </div>

                        <div class="form-row field-end_date">


                            <div>

                                <div class="flex-container">

                                    <label class="required" for="id_end_date">End date:</label>

                                    <p class="date">
                                        <input type="text" name="end_date" class="vDateField" size="10" required="" id="id_end_date"><span class="datetimeshortcuts"></span>

                                    </p>

                                </div>

                            </div>

                        </div>

                        <div class="form-row field-customer_name">


                            <div>

                                <div class="flex-container">

                                    <label class="required" for="id_customer_name">Customer name:</label>

                                    <input type="text" name="customer_name" class="vTextField" maxlength="255" required="" id="id_customer_name">


                                </div>

                            </div>


                        </div>

                        <div class="form-row field-executor_name">


                            <div>

                                <div class="flex-container">

                                    <label class="required" for="id_executor_name">Executor name:</label>

                                    <input type="text" name="executor_name" class="vTextField" maxlength="255" required="" id="id_executor_name">


                                </div>

                            </div>


                        </div>

                        <div class="form-row field-documents">


                            <div>

                                <div class="flex-container">

                                    <label class="required" for="id_documents">Documents:</label>

                                    <input type="file" name="documents" required="" id="id_documents">


                                </div>

                            </div>


                        </div>

                    </fieldset>



                    <form action="/path/to/save" method="post">
                        {% csrf_token %}
                        <div class="submit-row">
                            <input type="submit" value="Save" class="default" name="_save">
                            <input type="submit" value="Save and add another" name="_addanother">
                            <input type="submit" value="Save and continue editing" name="_continue">
                        </div>
                    </form>





                    <script id="django-admin-form-add-constants" src="/static/admin/js/change_form.js" data-model-name="myobject" async="">
                    </script>




                    <script id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]">
                    </script>


                </div>
            </form>
        </div>


        <br class="clear">
    </div>


</body>

{% endblock %}