<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}" class="button"><span style="font-size: 200%;">&#8962;</span></a>
        <a href="{% url 'mycurrentobject' %}" class="button">Текущие проекты</a>
        <a href="{% url 'my_object' %}" class="button">Все проекты</a>
        <a href="{% url 'product' %}" class="button">Каталог</a>
        <a href="{% url 'note' %}" class="button">Заметки</a>
        <a href="{% url 'workdetail' %}" class="button">Рабочие детали</a>
        <a href="{% url 'users:user_profile' %}" class="button">Профиль</a>
    </nav>

    <div class="content">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <div style="display: flex; align-items: center;">
                <img src="{% static 'media/logo.png' %}" alt="Логотип" width="100" height="100" style="border-radius: 20px;">
                <p style="margin-left: 10px;"><b>Visatos Platuma / Calculite</b><br>+370 644 464 63</p>
            </div>
            <form method="GET" action="" class="button">
                <input type="text" name="q" placeholder="Поиск..." value="{{ query }}">
                <button type="submit" class="button">Искать</button>
            </form>
        </div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>Следите за нами в соцсетях:</p>
        <a href="https://www.facebook.com/visatosplatumapro">Facebook</a>
        <a href="https://www.linkedin.com/company/visatosplatuma/">LinkedIn</a>
        <a href="https://www.instagram.com/visatosplatuma">Instagram</a>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
