{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Текущие проекты</h1>
    <ul>
        {% for my_current_object in my_current_objects %}
        <li>
            <a href="{% url 'edit_mco' pk=my_current_object.pk %}">{{ my_current_object.name }}</a>
            {% for object in objects %}
            <a href="{% url 'edit_mo' pk=object.pk %}">{{ object.name }}</a><br>
            {% endfor %}

        </li>
        {% endfor %}
    </ul>
</body>
</html>


{% endblock %}
