{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1></h1>
    <ul>
        <li>
            <a href="{% url 'mycurrentobject' %}"><strong>Текущие проекты:</strong></a>
            <ul>
                {% for my_current_object in my_current_objects %}
                <li>
                    <a href="{% url 'edit_mo' pk=my_current_object.pk %}">{{ my_current_object.my_object.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{% url 'my_object' %}">Все проекты</a></li>
        <li><a href="{% url 'note' %}">Заметки</a></li>
        <li><a href="{% url 'product' %}">Каталог</a></li>
        
    </ul>
</body>
</html>

{% endblock %}
