{% extends 'base.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Наши работы</h1>


    <!-- Форма для загрузки фотографий -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Загрузить фотографию</button>
    </form>

    <!-- Отображение галереи -->
    <div class="gallery">
        {% for gallery in galleries %}
        <div class="gallery-item">
            <h2>{{ gallery.title }}</h2>
            {% if gallery.description %}
            <p>{{ gallery.description }}</p>
            {% endif %}
            <img src="{{ gallery.image.url }}" alt="{{ gallery.title }}">
        </div>
        {% endfor %}
    </div>


</body>
</html>

{% endblock %}
