{% extends 'base.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current</title>
</head>
<body>
    <h1>Текущие проекты</h1>
    <ul>
        {% for my_current_object in my_current_objects %}
        <li><a href="{% url 'edit_mco' my_current_object.id %}">{{ my_current_object.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>


{% endblock %}
