{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes</title>
</head>
<body>
    <h1>Заметки</h1>
    <ul>
        {% for note in notes %}
        <li><a href="{% url 'edit_note' note.pk %}">{{ note.title }}</a> (<a href="{% url 'delete_note' note.pk %}">Удалить</a>)</li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_note' %}">Добавить заметку</a>
</body>
</html>

{% endblock %}
