{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalog</title>
    <style>
        /* Стили для таблицы */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Каталог</h1>

    <a href="{% url 'add_product' %}">Добавить продукт</a>

    <table>
        <thead>
            <tr>
                <th>Наименование</th>
                <th>Цена</th>
                <th>Описание</th>
                <th>Фото</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td><a href="{% url 'edit_product' pk=product.pk %}">{{ product.name }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
                <td>
                    {% if product.image %}
                    <a href="{{ product.image.url }}">
                        <img src="{{ product.image.url }}" alt="Product Image" width="50">
                    </a>
                    {% else %}
                    No Image
                    {% endif %}
                </td>

                <td>
                    <a href="{% url 'delete_product' pk=product.pk %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'export_to_excel' %}" class="btn btn-primary">Скачать в Excel</a>
</body>
</html>
{% endblock %}
