nav {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav a {
        color: #fff;
        text-decoration: none;
    }

.content {
    margin: 20px;
}

body {
    background-color: #f0f0f0; /* Цвет фона страницы */
    color: #333; /* Основной цвет текста */
    font-family: Arial, sans-serif; /* Шрифт */
}

header {
    background-color: #000; /* Цвет шапки и подвала */
    color: #fff; /* Цвет текста в шапке и подвале */
    padding: 10px; /* Внутренний отступ */
}

footer {
    background-color: #000; /* Цвет шапки и подвала */
    color: #fff; /* Цвет текста в шапке и подвале */
    padding: 10px; /* Внутренний отступ */
}

table {
    width: 80%; /* Ширина таблицы */
    margin: 20px auto; /* Центрирование таблицы */
    border-collapse: collapse; /* Схлопывание границ ячеек */
}

th, td {
    border: 1px solid #ddd; /* Границы ячеек */
    padding: 8px; /* Внутренний отступ ячеек */
    text-align: left; /* Выравнивание текста */
}

th {
    background-color: #f2f2f2; /* Цвет фона заголовков */
}


